/* Margin Reset
==================================
*/

body, html, #app {
  margin: 0;
  height: 100%;
  width: 100%;
}

/* Landing Page
==================================
*/

.homepage-logo {
  font-size: 4em;
  color: #FFFFFF;
  font-family:'fatfrank', sans-serif;
  margin-bottom: 1.5em
}

.button-container {
  text-align:center;
  padding-top: 20%;
}

.icon {
  padding-top: 20%;
}

.signup-button {
  display: block;
}

.title {
  padding-top: 25%;
  top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  color: #FFFFFF;
}

.landing-container {
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
  background-size: cover;
  background: url('../assets/bg.jpg') no-repeat center;
}

/* Dashboard
==================================
*/

.avatar {
  margin: 0 auto;
}

.dash-jumbotron {
  height: 200px;
  padding-top: 50px;
  background: #FF4081;
}

.main-image {
  max-width: 100%;
}

/* Game Window
==================================
*/

.bottom-toolbar {
 position: fixed;
 bottom: 0%; 
}

.game-wrapper {
  display: flex;
  min-height: 100%;
  height: 100%;
  flex-direction: column;
}

#map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* User Profile
==================================
*/
.stats, .stats>div>div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.stats {
  flex-direction: column;
}

.person span {
  /*width: 0px !important;*/
}


.text {
  padding: 35px 24px 12px 12px;
}
