/* Margin Reset
==================================
*/

body, html {
  margin: 0;
  height: 100%;
  width: 100%;
}

/* Landing Page
==================================
*/
.login-button {
  display: block;
}

.signup-button {
  display: block;
}

/* Dashboard
==================================
*/

.avatar {
  margin: 0 auto;
}

.dash-jumbotron {
  height: 200px;
  padding-top: 50px;
  background: #FF4081;
}

/* Game Window
==================================
*/

.bottom-toolbar {
 position: fixed;
 bottom: 0%; 
}

.game-wrapper {
  display: flex;
  min-height: 100%;
  height: 100%;
  flex-direction: column;
}

#map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

