/* Margin Reset
==================================
*/

body, html {
  margin: 0;
  height: 100%;
  width: 100%;
}

/* Landing Page
==================================
*/

.login-button {
  padding-top: 85%;
  text-align:center;
}

.signup-button {
  display: block;
}

.title {

}

.landing-container {
  height: 800px;
  background: url('https://cdn.getyourguide.com/niwziy2l9cvz/1XBkFZIKqYw0248uGCuaWG/cc3d1c8fec71b6706ac961b449d2d823/san-francisco-san-francisco-bay-1112x630.jpg') no-repeat;
  background-size: cover;
  text-shadow: #444 0 1px 1px;
  margin: 0;
  width: 100%;
}

.transparent {
  height: 100%;
  background:#7f7f7f;
  background:rgba(255,255,255,0.5);
}


/* Dashboard
==================================
*/

.avatar {
  margin: 0 auto;
}

.dash-jumbotron {
  height: 200px;
  padding-top: 50px;
  background: #FF4081;
}

.main-image {
  max-width: 100%;
}

/* Game Window
==================================
*/

.bottom-toolbar {
 position: fixed;
 bottom: 0%; 
}

.game-wrapper {
  display: flex;
  min-height: 100%;
  height: 100%;
  flex-direction: column;
}

#map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* User Profile
==================================
*/
.stats, .stats>div>div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.stats {
  flex-direction: column;
}

.person span {
  /*width: 0px !important;*/
}


.text {
  padding: 35px 24px 12px 12px;
}
